<div id="blurb">
        <h1>The Clearest Free Flight itinerary Converter on the Web</h1>
        <h3> What Is PNR Converter?</h3>
        <p>PNR Converter is a free tool specifically designed for travel agents who're sick of wasting their valuable
            time converting the raw output of their GDS, be it Sabre, Amadeus, Galileo or Smartpoint to anything resembling
            a readable format. With PNR Converter you can create beautiful, customer friendly flight itineraries with
            the click of a button. Not only is PNR converter the most advanced, flexible way to convert PNRs anywhere
            on the web, it's also completely free! Copy and paste content directly from your GDS into PNR Converter and
            in seconds it will decoded, creating a fully customisable, customer friendly itinerary that can be sent to
            Outlook or Mail, or copied to clipboard with the click of a button. With the ability customise your results
            to show flight duration, flight distance, cabin and the airline name, PNR converter gives you the best flight
            itinerary converter on the web. We regularly update our database to ensure that all information is up to
            date and acurate. On top of this we have carefully formatted each airport name to display in a clear, customer
            friendly format.
        </p>
        <h3>With PNR Converter you can decode this...</h3>
        <img src="./images/smartpoint.jpg">
        <h3>...into this...</h3>
    </div>