<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107272376-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-107272376-1');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Easy PNR Converter &amp; Decoder- Flight Itinerary Converter for Galileo, Smartpoint, Amadeus &amp; Sabre
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/newmain.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script defer src="/js/frontend.js"></script>
    <meta name="description" content="PNR Itinerary converter and decoder for Galileo, Smartpoint, Amadeus or Sabre. Convert your GDS itineraries into a customer friendly, readable format">
    <meta name="keywords" content="PNR, ITINERARY, TRANSLATOR, GDS, AMADEUS, GALILEO, SMARTPOINT, SABRE, DECODE">
    <meta name="author" content="PNR Converter">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="robots" content="nofollow" />

</head>

<body>

    <div id="notnav">
        <header>

            <a href="/"><img src="/images/plane2.svg" id="headerlogo" height="120" width="120"></a>
            <h1>PNR Converter </h1>
            <h3>Para Galileo, Smartpoint, Worldspan, Amadeus y Sabre GDS</h3>
        </header>


        <form id="notheader" action="/results/es" method="post" name="maininput">
            <main>
                <ul id="horizonatalnavbar" role="navigation">
                    <li class="navmenuitem">
                        <a href="/"><img src="/images/icons/homeicon.svg"/ height="18" id="homeImage">Inicio</a>
                    </li>
                    <li class="navmenuitem">
                        <a href="/api-introduction">
                            <img src="/images/icons/apiicon.svg" height="18" id="apiImage"
                                ">API
                        </a>
                    </li>

                    <li class="navmenuitem">
                            <a href="/how-it-works"><img src="/images/icons/howtoicon.svg" height="18" id="howtoImage">Cómo Funciona</a>
                    </li>

                    <li class="navmenuitem">
                        <a href="/make-a-suggestion"><img src="/images/icons/suggestionicon.svg" height="18" id="suggestionImage">Sugerencias</a>
                    </li>
                    <li class="navmenuitem">
                        <a href="/about-us"><img src="/images/icons/aboutusicon.svg" height="18" id="aboutUsImage">Acerca de</a>
                    </li>
                    <li class="navmenuitem">

                        <a href="/blog"><img src="/images/icons/blogicon.svg" height="18" id="blogImage">Blog</a>
                    </li>
                    <li class="navmenuitem">

                        <a href="/"><img src="/images/languages/es.svg" width="26" class="langImage" id="languageImage">Idioma</a>
                        <ul class="languageDropdown">
                            <li><a href="/"><img src="/images/languages/en.svg" width="26" id="langImage">English</a></li>
                            <li><a href="/es"><img src="/images/languages/es.svg" width="26" id="langImage">Español</a></li>
                            <li><a href="/cn"><img src="/images/languages/cn.svg" width="26" id="langImage">中文</a></li>
                            <li><a href="/pt"><img src="/images/languages/ptbr.svg" width="26" id="langImage">Português</a></li>

                        </ul>
                    </li>
                </ul>

                <div id="dataInput">
                    <textarea name="dataInput" class="dataInputChild" id="dataInputTextArea" placeholder="Copie y pegue el itinerario aquí..."
                        onfocus="this.placeholder = ''"></textarea>
                    <!-- <input class="dataInputChild" type="submit" value="Convert" id="convertButton"> -->
                    <div class="dataInputChild" id="convertButton" onclick="document.getElementById('notheader').submit()">
                        <h4>Convertir</h4><img id="convertButtonImage" src="/images/convert.svg" height="50" width="50">
                    </div>

                </div>

                <div id="advertisingArea">
                    <!-- <img src="./images/samplead.png" width="728" height="90"> -->
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Long ad -->
                    <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2303157713889417"
                        data-ad-slot="8744366555"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>


                <% if(esProcessedFlight.renderOutput === 'home') { %>
                <%  include ./partials/spanish/welcome.ejs %>
                <%} else if(esProcessedFlight.renderOutput === 'threelines'){%>
                <%  include ./partials/spanish/threelines.ejs %>
                <%} else if(esProcessedFlight.renderOutput === 'twolines'){%>
                <%  include ./partials/spanish/twolines.ejs %>
                <%} else if(esProcessedFlight.renderOutput === 'threelinesreordered'){%>
                <%  include ./partials/spanish/threelinesreordered.ejs %>
                <%} else if(esProcessedFlight.renderOutput === 'twolinesreordered'){%>
                <%  include ./partials/spanish/twolinesreordered.ejs %>
                <%} else if(esProcessedFlight.renderOutput === 'tableoutput'){%>
                <%  include ./partials/spanish/table.ejs %>
                <% }%>


            </main>
            <div id="controls">
                <h3>Opciones de Muestra:</h3>
                <div class="controlbreak"></div>
                <div id="displayOptions">
                    <div class="displayOption" id="showAirLineName">
                        <input type="checkbox" name="airlinename" id="airlinenameInput" onchange="document.getElementById('notheader').submit()">
                        <label for="airlinenameInput">

                            Nombre de Aerolínea
                        </label>
                    </div>
                    <div class="displayOption" id="showLogo">
                        <input type="checkbox" name="showLogo" id="showlogoInput" onchange="document.getElementById('notheader').submit()">
                        <label for="showlogoInput">
                            Show Airline logo</label>
                    </div>
                    <div class="multioptionscontainer">
                        Cabina de Vuelo
                        <div class="controlbreak multioptionsbreak"></div>
                        <fieldset id="cabinfieldset" class="fieldset" onchange="document.getElementById('notheader').submit()"
                            name="distance">
                            <input id="cabinoff" type="radio" value="off" name="cabinradio">
                            <label for="cabinoff">Apagado
                            </label>

                            <input id="cabinclass" type="radio" value="class" name="cabinradio">
                            <label for="cabinclass">Clase
                            </label>

                            <input id="cabincabin" type="radio" value="cabin" name="cabinradio">
                            <label for="cabincabin">cabina
                            </label>
                        </fieldset>
                    </div>
                    <div class="displayOption" id="showCabin">

                        <!-- <input type="checkbox" name="showcabin" id="showcabinInput" onchange="document.getElementById('notheader').submit()"> -->
                        <!-- <label for="cabinfieldset">
                            Show Cabin
                            <div class="controlbreak"></div>
                            <fieldset id="cabinfieldset" onchange="document.getElementById('notheader').submit()" name="distance">
                                <label>Off
                                    <input id="cabinoff" type="radio" value="off" name="cabinradio">
                                </label>
                                <label>Class

                                    <input id="cabinclass" type="radio" value="class" name="cabinradio">
                                </label>
                                <label> Cabin

                                    <input id="cabincabin" type="radio" value="cabin" name="cabinradio">
                                </label>
                            </fieldset>
                        </label> -->
                    </div>
                    <div class="displayOption" id="flightDuration">
                        <input type="checkbox" name="duration" id="durationInput" onchange="document.getElementById('notheader').submit()">
                        <label for="durationInput">
                            Duracion del Vuelo</label>
                    </div>

                    <div class="multioptionscontainer">
                        Mostrar Distancia
                        <div class="controlbreak multioptionsbreak"></div>
                        <fieldset id="distancefieldset" class="fieldset" onchange="document.getElementById('notheader').submit()"
                            name="distance">
                            <input type="radio" id="distanceoff" value="Off" name="distanceradio">
                            <label for="distanceoff">
                                Apagado
                            </label>

                            <input type="radio" id="distancekm" value="km" name="distanceradio">
                            <label for="distancekm">KM
                            </label>

                            <input type="radio" id="distancemiles" value="miles" name="distanceradio">
                            <label for="distancemiles">
                                Millas
                            </label>
                        </fieldset>
                    </div>



                    <div class="displayOption" id="hourClock">
                        <input type="checkbox" name="timeformat" id="timeformatInput" onchange="document.getElementById('notheader').submit()">
                        <label for="timeformatInput"><img src="./images/icons/clockicon.svg" height="12"">Reloj de 12 Horas</label>
                    </div>
                    <!-- <div class="
                                displayOption" id="showTitle">
                            <input type="checkbox" name="quoteheader" id="quoteheaderInput" onchange="document.getElementById('notheader').submit()">
                            <label for="quoteheaderInput">Show Title</label>
                    </div> -->
                    <div class="displayOption" id="transitTime">
                        <input type="checkbox" name="transittime" id="transittimeInput" onchange="document.getElementById('notheader').submit()">
                        <label for="transittimeInput">Tiempo de Transito
                        </label>
                    </div>
                    <div class="displayOption" id="operatedby">
                        <input type="checkbox" name="operatedby" id="operatedbyInput" onchange="document.getElementById('notheader').submit()">
                        <label for="operatedbyInput">
                            Código Compartido</label>
                    </div>
                </div>
                <div class="controlbreak"></div>
                <h3>Formato de Resultado:</h3>
                <div class="controlbreak"></div>
                <div id="resultsFormat">
                    <div class="displayOption" id="twoLines">
                        <input type="radio" name="resultformat" value="twolines" id="resultformat_0" onchange="document.getElementById('notheader').submit()">
                        <label for="resultformat_0">Dos Lineas</label>
                    </div>
                    <div class="displayOption" id="twoLinesReordered">
                        <input type="radio" name="resultformat" value="twolinesreordered" id="resultformat_1" onchange="document.getElementById('notheader').submit()">
                        <label for="resultformat_1">Dos Líneas Reordenadas</label>
                    </div>
                    <div class="displayOption" id="threeLines">
                        <input type="radio" name="resultformat" value="threelines" id="resultformat_2" onchange="document.getElementById('notheader').submit()">
                        <label for="resultformat_2">Tres Líneas</label>
                    </div>
                    <div class="displayOption" id="threeLinesReordered">
                        <input type="radio" name="resultformat" value="threelinesreordered" id="resultformat_3"
                            onchange="document.getElementById('notheader').submit()">
                        <label for="resultformat_3">Tres Líneas Reordenadas</label>
                    </div>
                    <div class="displayOption" id="table">
                        <input type="radio" name="resultformat" value="tableoutput" id="resultformat_4" onchange="document.getElementById('notheader').submit()">
                        <label for="resultformat_4">Tabla</label>
                    </div>
                </div>
                <div class="controlbreak"></div>

            </div>
        </form>
        <!-- <div id="controls">controls</div> -->
        <%  include ./partials/footer.ejs %>
    </div>



</body>

</html>