<div id="blurb">
        <h1>El Convertidor de Itinerario de Vuelo Gratis más Claro de internet</h1>
        <h3>¿Qué es PNR Converter?</h3>
        <p>PNR Converter es una herramienta diseñada específicamente para agentes de viajes que están cansados de perder su valioso tiempo convirtiendo la salida en bruto de su GDS, ya sea Sabre, Amadeus, Galileo o Smartpoint. Con PNR Converter puede crear hermosos itinerarios de vuelo agradables para el cliente con solo un clic. PNR Converter no es solo la forma más avanzada y flexible de convertir PNR en cualquier lugar de la web, sino que también es completamente gratuito.


        </p>

        <p>Copie y pegue contenido directamente desde su GDS a PNR Converter y en unos segundos se decodificará, creando un itinerario completamente personalizable y de fácil uso para el cliente, que puede enviarse a Outlook o Mail, o copiarse al portapapeles con sólo presionar un botón</p>
        <p>Tiene la capacidad de personalizar sus resultados para mostrar la duración del vuelo, la distancia del vuelo, la cabina y el nombre de la aerolínea. PNR Converter le ofrece el mejor convertidor de itinerario de vuelo de internet. Actualizamos regularmente nuestra base de datos para garantizar que toda la información esté actualizada y sea precisa. Además de esto, hemos dado formato cuidadosamente a cada nombre de aeropuerto para mostrarlo en un modo claro y fácil de usar para el cliente.</p>
        <h3>Decodificar Esto...</h3>
        <img src="./images/smartpoint.jpg">
        <h3>...Dentro de Esto...</h3>

        <h3>...O Esto</h3>
    </div>